* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
header{
  text-align: center;
  margin: 40px; 0;
}
form {
  max-width: 400px;
  width:100%;
  margin: 0 auto;
}
form input {
  padding:5px;
}
